dataset/train_data/*
!dataset/train_data/java/train/code.txt
!dataset/train_data/java/train/func.txt
!dataset/train_data/java/train/docstring.txt 
!dataset/train_data/java/test/code.txt
!dataset/train_data/java/test/func.txt
!dataset/train_data/java/test/docstring.txt 
!dataset/train_data/java/valid/code.txt
!dataset/train_data/java/valid/func.txt
!dataset/train_data/java/valid/docstring.txt 
!dataset/train_data/python/train/code.txt
!dataset/train_data/python/train/func.txt
!dataset/train_data/python/train/docstring.txt 
!dataset/train_data/python/test/code.txt
!dataset/train_data/python/test/func.txt
!dataset/train_data/python/test/docstring.txt 
!dataset/train_data/python/valid/code.txt
!dataset/train_data/python/valid/func.txt
!dataset/train_data/python/valid/docstring.txt 
!dataset/train_data/python/valid/tokenit.py 
!dataset/train_data/python/valid/writer.py 
dataset/GPT_data/*
!dataset/GPT_data/preprocess.py
!dataset/GPT_data/dataurl.txt
eval_output/*
!eval_output/
model/save_model/CARLCS/java/*
!model/save_model/CARLCS/java/
model/save_model/CARLCS/python/*
!model/save_model/CARLCS/python/
model/save_model/UNIF/java/*
!model/save_model/UNIF/java/
model/save_model/UNIF/python/*
!model/save_model/UNIF/python/
model/save_model/deepcs/java/*
!model/save_model/deepcs/java/
model/save_model/deepcs/python/*
!model/save_model/deepcs/python/
model/PA/GPT/gptmodel/*